.nav-bar {
  height: 80px;
  width: 100%;
  background-color: #737272;
  font-family: 'Roboto';
  align-content: center;
}

.movie-header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto';
  color: #ffffff;
}
.main-header {
  text-decoration: none;
  list-style-type: none;
}
.movie-items {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style-type: none;
  align-items: center;
}
.nav-items {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  margin-right: 10px;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
}
.input-container {
  height: 40px;
  width: 190px;
  border-style: none;
  border-radius: 4px;
  margin-right: 5px;
}
.btn {
  height: 40px;
  width: 60px;
  border-style: none;
  border-radius: 4px;
}
